body {
  background: url('https://www.riu.com/fr/binaris/new-slide-destino-paradise-island_tcm57-138470.jpg')
    no-repeat center fixed;
  background-size: cover;
}

.customContainer {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 10px;
  opacity: 50%;
}

.customContainer h1 {
  text-align: center;
}
